<div class="posts-wrapper">
<% @posts.each do |post| %>
  <div class="post">
      <div class="post-head">
        <%= post.username %>
      </div>
      <div class="image"><%= image_tag post.image.thumb.url %></div>
      <div class="caption"><%= post.caption %></div>
      <div class="right">
        <a href="/posts/modify/<%=post.id%>"><i class="far fa-edit"></i></a>
        <a href="/posts/delete/<%=post.id%>"><i class="far fa-trash-alt"></i></a>
      </div>
  </div>
<% end %>
</div>